@import url(./__image-img/popup_image__content-img.css);
.popup_image__content {
  
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background: no-repeat;
  
}

/*@media screen and (max-width: 540px) {
  .popup__content__image {
    width: calc(100% - 60px);
  }
}
*/